extends base

block content
    if errMsg
        span=errMsg
    if user.avatarUrl.includes('github')
        img(src=user.avatarUrl, alt="No Avatar" width=400 height=400)
    else
        img(src=`/${user.avatarUrl}`, alt="No Avatar" width=400 height=400)
    form(method="post" enctype="multipart/form-data") 
        label(for="avatar") Avatar
        input#avatar(type="file", name="avatar" accept="image/*") 
        input(type="text" name="username" placeholder="Username" value=user.username)
        input(type="email" name="email" placeholder="Email" value=user.email)
        input(type="submit", value="Edit Profile")
    if !user.isGithub
        a(href="change-password") Change Password &rarr;
        
    block scripts